<div id="mainContent" class="mainContent">
  <h1>{{ mainHeader }}</h1>
  <div class="clearfix">
    <!-- Todo Items List -->
    <div class="left-section">
      <h2>{{ leftTitle }}</h2>
      <div id="todoLists">
        <div *ngFor = "let todo of todoLists">
          <h3>{{ todo.title }}</h3>
          <p>{{ todo.todoItem }}</p>
          <i>Created By: {{ todo.author }}</i>
          <i>Date: {{ todo.date }}</i>
          <button class="editBtn fa" onclick="updateTodoItem(2723624)">Edit</button>
          <button class="deleteBtn fa" onclick="deleteTodoItem(2723624)">Delete</button>
        </div>
      </div> 
    </div>
         
    <!-- Add/Update Todo Item form -->
    <div class="right-section">
      <h2>{{ rightTitle }}</h2>
      <form method="post" id="todoListForm" (ngSubmit)="saveTodoList()" #f="ngForm">
        <label for="title">
          Title
          <span class="required">*</span>
        </label>
        <input type="text" ngModel id="title" name="title" #title="ngModel" required="required">
        <label for="todoItem">
          Todo Item
          <span class="required">*</span>
        </label>
        <textarea id="todoItem" ngModel name="todoItem" rows="3" #todoItem="ngModel" required="required"></textarea>
        <label for="author">
          Author
          <span class="required">*</span>
        </label>
        <select id="author" ngModel #author="ngModel" name="author">
          <option *ngFor = "let author of authorList"  value="{{ author }}">{{ author }}</option>
        </select>
        <label for="date">
          Date
          <span class="required">*</span>
        </label>
        <input type="date" id="date" ngModel #date="ngModel" name="date" required="required">
        
        <input type="hidden" id="todoId" ngModel #id="ngModel" name="todoId" value="">
        <input type="submit" name="action" value="Add Todo Item" id="addBtn" [disabled]="!f.valid">
        <input type="submit" name="action" value="Update Todo Item" id="updateBtn" onclick="clicked='Update'">
      </form>
    </div>
  </div>
</div>